content {
    margin: 150px auto;
    width: 50%;
}

.w3-sidenav img{margin-top:25px;margin-left:25px;width:50%}
.w3-sidenav a{margin-left:20px;font:17px Raleway, sans-serif}
.w3-sidenav h4{margin-left:20px;font-style: italic}
.w3-container {margin-top:50px;margin-bottom:50px;margin-left:30%;margin-right:6%}
.w3-display-container img {
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    width: 1050px; 
    height: 300px;
}

.my-icon a{font:10px Raleway, sans-serif;}
.my-icon a:link {
    text-decoration: none!important;
}
.my-icon a:visited {
    text-decoration: none!important;
}
.my-icon a:hover {
    text-decoration: underline!important;
}
.my-icon a:active {
    text-decoration: underline!important;
}

.my-list a:link {
    text-decoration: none!important;
}
.my-list a:visited {
    text-decoration: none!important;
}
.my-list a:hover {
    text-decoration: underline!important;
}
.my-list a:active {
    text-decoration: underline!important;
}

.my-card {
  display: inline-block;
  width:400px;  
}

iframe {
  width:400px;
  height:200px;  
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
