content {
    margin: 150px auto;
    width: 50%;
}

.w3-sidenav img{margin-top:25px;margin-left:25px;width:50%}
.w3-sidenav a{margin-left:20px;}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
