---
layout: default
title: MY RESEARCH
---

<div class="ui main text container">
    <div class="ui huge header">My Research</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
        <!--<% blogs.forEach(function(blog){ %>-->
        
    
        <div class="item">
            <div class="image">
                <img src="https://tctechcrunch2011.files.wordpress.com/2014/07/framed-skate-square.png?w=738">
            </div>
            <div class="content">
                <a href="/research/research1.html" class="header">Video Stabilization</a>
                <div class="meta">
                   <span><em>2015.01-2015.06</em></span> 
                </div>
                <div class="description">
                    <p>A Hybrid Approach for Near-Range Video Stabilization. Remove jitters in the video recorded by hand-held cameras.</p>
                </div>
                <div class="extra">
                    <a href="/research/research1.html" class="ui button violet floated basic"><i class="fa fa-video-camera" aria-hidden="true"></i>  Watch Demo</a>
                    <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=7457352&amp;url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D7457352" class="ui button violet floated basic"><i class="fa fa-file" aria-hidden="true"></i>  Read Paper</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="http://sm.pcmag.com/pcmag_uk/photo/3/360-video-/360-video-stitching-editing-in-imovie_5ybh.jpg">
            </div>
            <div class="content">
                <a href="/research/research2.html" class="header">Video Mosaicing</a>
                <div class="meta">
                   <span><em>2015.01-2015.06</em></span> 
                </div>
                <div class="description">
                    <p>A Novel Approach to Stitch Multiple Videos. Render composite videos with larger views than normal cellphones.</p>
                </div>
                <div class="extra">
                    <a href="/research/research2.html" class="ui button violet floated basic"><i class="fa fa-video-camera" aria-hidden="true"></i>  Watch Demo</a>
                </div>
            </div>
        </div>
        <!--<% })%>           -->
        </div>
    </div>
</div>
