<head>
<!-- link to main stylesheet -->

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css"></link>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css"></link>

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  
  <!-- Icons -->
  <link rel="icon" type="image/jpg" href="{{ site.baseurl }}css/profile.jpg">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
