
.main.container
{
    margin-top: 7.0em;
}

#delete
{
    display:inline;
}

body
{
    margin-bottom:60px;
}

#signature{
    font-family: 'Indie Flower', cursive;
    font-size: 1.35em;
}

.social.fa.fa-lg
{
    color:#444;
}

.social-icon.center.aligned.column
{
    letter-spacing: 5px;
}