<!------->
<!--layout: default-->
<!--title: Home-->
<!------->

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

<body>
<nav class="w3-sidenav w3-white w3-card-2" style="width:20%">
  <br>
  <img src="/css/profile.jpg" class="w3-round" alt="profile" style="width:50%">
  <br><br>
  <h4>Binhan Xu</h4>
  <br><br><br>
  <a href="/index.html">HOME</a>
  <a href="/resume/index.html">RESUME</a>
  <a href="/project/index.html">PROJECT</a>
  <a href="/blog/index.html">BLOG</a>
</nav>

<div style="margin-left:20%">
<div class="mySlides w3-display-container">
    <img src="/css/1.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Los Angeles</h3>
      <p><b>We had the best time playing at Venice Beach!</b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container">
    <img src="/css/2.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>New York</h3>
      <p><b>The atmosphere in New York is lorem ipsum.</b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container">
    <img src="/css/3.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Chicago</h3>
      <p><b>Thank you, Chicago - A night we won't forget.</b></p>
    </div>
  </div>
</div>

<div style="margin-left:25%">
<div class="w3-container">
      {{ content }}
</div>
</div>

<div style="margin-left:20%">
<footer class="w3-container w3-teal">
  <h5>Footer</h5>
  <p>Footer information goes here</p>
</footer>
</div>
      
</body>

</html>
