<!------->
<!--layout: default-->
<!--title: Home-->
<!------->

<!DOCTYPE html>
<html>
<title>Binhan's</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css"></link>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css"></link>
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="/css/font-awesome-4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<style>
html,body,h1,h2,h3,h4,h5,h6,a {font-family: "Raleway", sans-serif}
</style>

<body>
<div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="/resume/resume.pdf" class="item">Resume</a>
                <a href="/project/index.html" class="item">Project</a>
                
            </div>
        </div>

<div class="w3-container">
      {{ content }}
</div>

</body>

</html>
